.text-center {
  width:50%;
  text-align:center;
  margin:0 auto;
}
.col {
  margin-top:1em;
  border-style:none !important;
}

.square {
  width:100px;
  height:100px;
}

.ver {
  border-left:2px solid black;
  border-right:2px solid black;
}

.height {
  width:40px;
  border-top:2px solid black;
  border-bottom:2px solid black;
}
.table .borderless .square{
  border:none !important;
}

.footer {
  text-align:center;
  margin:0 auto;

}
